.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #FFB84D;
    width: 332px;  
    font-size: 16px;
    height: 488px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 32px;
    box-sizing: border-box;
   
}
h2{
    color: #39B100;
}
.imgPlates{
    box-sizing: border-box;
    align-items: center;
    width: 16rem;
    height: 16rem;
    padding-top: 2rem;
}

.foodDescription{
    width: 100%;
    height: 19.20rem;
    background-color: #F0F0F5;
    position: absolute;
    top: 11.3rem;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 1.8rem;
}

.titleCard{
    padding: 1rem 0 0.1rem ;
    box-sizing: border-box;
}
p{
     box-sizing: border-box;
    
}


/* .titleCard{

} */
