.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFB84D;
    width: 22rem;  
    font-size: 16px;
    height: 30.5rem;
    border-radius: 8px;
    position: relative;
    margin-bottom: 32px;
    box-sizing: border-box;
   
}

.imgPlates{
    box-sizing: border-box;
    align-items: center;
    width: 16rem;
    height: 16rem;
    padding-top: 2rem;
}

.foodDescription{
    width: 100%;
    height: 19.20rem;
    background-color: #F0F0F5;
    position: absolute;
    top: 11.3rem;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

.titleCard{
    padding: 1rem 1.8rem 0.1rem ;
    box-sizing: border-box;
}
p{
     box-sizing: border-box;
     height: 20px;
     padding-top: 4px;
}
h2{
    color: #39B100;
    padding-left: 1.8rem;
}
.mealsConf{
    background-color: #E4E4EB;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 
}
.buttonConf{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 8px;
    border: none;
    flex-direction: row;
    margin-right: 5px;
    align-items: center;
    
}

/* .titleCard{

} */
