.headerIndexPage{
    background-color: #C72828;
    width: 100vw;
    color: white;
    display: flex;
    height: 17.56rem;
    position: relative;
    padding: 15px;
}
.brand{
    text-align: initial;
    padding: 15px;       
}
.imgLogo{
    width: 4rem;
    height: 4rem;
    padding-left: 11.5%;
    padding-top: 3.43rem;
    top:5px
    
}


@media(max-width: 700px){
    .headerIndexPage{
        display: flex;
        align-items: center;
       
    }
    .buttonMealsNew{
        position: unset;
    }
}