.sectionCardsPlates{
    width: 70rem;
    display: flex;    
    justify-content: space-around;
    position: absolute;
    margin-left: 160px;  
    box-sizing: border-box;
    top: 13rem;
    flex-direction: row;
    flex-wrap: wrap;
    
}

@media(max-width: 700px){
    .sectionCardsPlates{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0;
        top:11rem;
    }
    .index{
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    
}
